h1 {
  font-family: tahoma;
  color: purple;
  font-style: italic;
  text-decoration: underline;
  text-transform: lowercase;
}

h2 {
  font-family: arial;
  color: blueviolet;
  font-style: italic;
  letter-spacing: -3px;
}

p {
  font-family: times new roman;
  color: green;
  line-height: 30px;
  text-align: justify;
}
